###### 1. Write a Python program to print numbers from 1 to 10 using a for loop.

In [3]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

###### 2. Explain the difference between a for loop and a while loop in Python.

In the for 'For' loop we are generally use for list and range of some numbers. On another hand while loop is using for condition statements.

###### 3. Write a Python program to calculate the sum of all numbers from 1 to 100 using a for loop.

In [10]:
s = 0
for i in range(101):
    s = s + i
print(s)

5050

###### 4. How do you iterate through a list using a for loop in Python?

In [11]:
number = [1,2,3,4,5,6]
for i in number:
    print(i)

1
2
3
4
5
6

###### 5. Write a Python program to find the product of all elements in a list using a for loop.

In [12]:
a = 1
number = [1,2,3,4,5,6]
for i in number:
    a = a * i
a

720

###### 6. Create a Python program that prints all even numbers from 1 to 20 using a for loop.

In [19]:
for i in range(20):
    i=i+1
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

###### 7. Write a Python program that calculates the factorial of a number using a for loop.

In [25]:
def find_factorial(number):
    a = 1
    for i in range(number):
        i = i+1
        a = i * a
    return a

In [29]:
print(find_factorial(3))
print(find_factorial(10))

6
3628800

###### 8. How can you iterate through the characters of a string using a for loop in Python?

In [30]:
string = 'Gaurav Narwal'
for i in string:
    print(i)

G
a
u
r
a
v

N
a
r
w
a
l

In [31]:
number = [1,2,3,4,5,6]
number[::-1]

[6, 5, 4, 3, 2, 1]

In [47]:
reversed_list = [] 
number = [1,2,3,4,5,6]

for i in reversed(number):
    print(i)
    reversed_list.append(i)
reversed_list

6
5
4
3
2
1

[6, 5, 4, 3, 2, 1]

###### Create a Python program that checks if a string is a palindrome using a for loop.

In [1]:
def check_palindrome(word):
    if word == word[::-1]:
        print('Yes This string palindrome')
    else:
        print('No! This is not palindrome')

In [2]:
check_palindrome('hanah')

Yes This string palindrome

In [3]:
check_palindrome('Gaurav')

No! This is not palindrome

###### Write a Python program to remove duplicates from a list using a for loop.

In [8]:
def remove_list_duplicates(list):
    remove_duplicates = []
    for i in list:
        if i not in remove_duplicates:
            remove_duplicates.append(i)
    return remove_duplicates

In [9]:
remove_list_duplicates([1,2,3,4,5,6,4,5,6,1,2,4])

[1, 2, 3, 4, 5, 6]

###### Write a Python program to find the sum of all odd numbers from 1 to 50 using a for loop.

In [10]:
for i in range(50):
    i = i + 1 
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

###### Write a Python program that uses the `map()` function to square each element of a list of numbers.

In [3]:
def square_root(number):
    return number * number
number_list = [1,2,3,4,5]
a = map(square_root,number_list)
for i in a:
    print(i)

1
4
9
16
25

###### Create a Python program that uses the `map()` function to convert a list of names to uppercase.

In [30]:
def name_uppercase(n):
    return n.upper()
name = ['gaurav','ankit','rahul','sumit']
names = map(name_uppercase,name)
for i in names:
    print(i)

GAURAV
ANKIT
RAHUL
SUMIT

###### Write a Python program that uses the `map()` function to calculate the length of each word in a list of strings.

In [34]:
def cal_length(strings):
    return len(strings)

name = ['gaurav','ankit singh','rahul kumar','sumit']
a = map(cal_length,name)
print(list(a))

[6, 11, 11, 5]

###### How can you use the `map()` function to apply a custom function to elements of multiple lists simultaneously in Python?

In [48]:
def product(num1,num2):
    return num1 * num2

a = [1,2,3,4,5]
b = [6,7,8,9,10]
products = map(product,a,b)
print(list(products))

[6, 14, 24, 36, 50]

In [52]:
print(list(products))

[]

###### Write a Python program that uses the `map()` function to round each element of a list of floating-point numbers to the nearest integer.

In [38]:
def round_number(num):
    return round(num)
lst = [1.6,5.46,3.9]
a = map(round_number,lst)
print(list(a))

[2, 5, 4]

###### What is the `reduce()` function in Python, and what module should you import to use it? Provide an example of its basic usage.

In [57]:
from functools import reduce

def product(x, y):
    return x * y

numbers = [1, 2, 3, 4, 5]

result = reduce(product, numbers)

print(result)

120

###### Create a Python program that uses `reduce()` to find the maximum element in a list of numbers.

In [66]:
def max_element(a, b):
    if a > b:
        return a
    else:
        return b
numbers = [5,7,65,4,8,64]
a = reduce(max_element,numbers)
a

65

###### How can you use the `reduce()` function to concatenate a list of strings into a single string?

In [71]:
def convert_single_string(a,b):
    return a + " "+ b
string = ['Gaurav','Narwal','Rahul','Ankit']
a = reduce(convert_single_string,string)
a

'Gaurav Narwal Rahul Ankit'

###### Write a Python program that calculates the factorial of a number using the `reduce()` function.

In [94]:
def factorial(a,b):
    return a * b

def final(lst):
    result = []
    for i in lst:
        l = list(range(1,i+1))
        a = reduce(factorial,l)
        result.append(a)
    return result
lst = [2,3,4,5]

print(final(lst))

[2, 6, 24, 120]