## TOPIC: String Based Assignment Problem

###### 1. Write a program to reverse a string.

In [1]:
a = 'Gaurav'
reverse = a[::-1]
reverse

'varuaG'

###### 2. Check if a string is a palindrome.

In [2]:
str1 = input('Enter your palindrome ').upper()
reverse_str = str1[::-1].upper()
if str1 == reverse_str:
    print('Your string is a palindrome')
else:
    print('Your string is not a palindrome')

Enter your palindrome Hanah
Your string is a palindrome

###### 3. Convert a string to uppercase.

In [4]:
s = 'Gaurav'
s.upper()

'GAURAV'

###### 4. Convert a string to lowercase.

In [5]:
name = 'Gaurav'
name.lower()

'gaurav'

###### 5. Count the number of vowels in a string.

In [9]:
a = input("Enter your string ")
count = 0
for i in a:
    if i in ('a','e','i','o','u','A','E','I','O','U'):
        count = count + 1
count

Enter your string my name is gaurav

6

###### 6. Count the number of consonants in a string.

In [10]:
s = input("Enter your string ")
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count = 0
for i in s:
    if i in consonants:
        count = count + 1
count

Enter your string my name is gaurav

8

###### 7. Remove all whitespaces from a string.

In [11]:
s = input("Enter string")
s.replace(" ",'')

Enter stringmy name is gaurav

'mynameisgaurav'

###### 8. Find the length of a string without using the `len()` function.

In [13]:
s = input('Enter string ')
len = 0
for i in s:
    len += 1
print('Your string length',len)

Enter string gaurav
Your string length  6

###### 9. Check if a string contains a specific word.

In [19]:
s = input('Enter your string ')
count = 0
for i in s:
    if i in 'aA':
        count += 1
print(f"Your string contains 'a' {count} times")

Enter your string GAurav
Your string contains 'a' 2 times

###### 10. Replace a word in a string with another word.

In [20]:
name = 'gaurav'
r = name.replace('g','G')
r

'Gaurav'

###### 11. Count the occurrences of a word in a string.

In [48]:
sentence = 'Hello Gaurav how are you? Are you fine'
target_word = 'are'
count = 0
for i in sent.split():
    if i.lower() == target_word:
        count = count + 1
print(f"The word '{target_word}' appera {count} times")

The word 'are' appera 2 times

###### 12. Find the first occurrence of a word in a string.

In [46]:
sentence = 'Hello Gaurav how are you? Are you fine'
target_word = 'are'
count = 0
index = sent.lower().find(target_word)
print(f"The target word '{target_word}' starts from {index} index")

The target word 'are' starts from 17 index

###### 13. Find the last occurrence of a word in a string.

In [47]:
sentence = 'Hello Gaurav how are you? Are you fine'
target_word = 'are'
count = 0
index = sent.lower().rfind(target_word)
print(f"The target word '{target_word}' starts from {index} index")

The target word 'are' starts from 26 index

###### 14. Split a string into a list of words.

In [49]:
sentence = 'Hello Gaurav how are you? Are you fine'
sentence.split()

['Hello', 'Gaurav', 'how', 'are', 'you?', 'Are', 'you', 'fine']

###### 15. Join a list of words into a string.

In [57]:
lst = ['Hello', 'Gaurav', 'how', 'are', 'you?', 'Are', 'you', 'fine']
seperator = ' '
string = seperator.join(lst)
string

'Hello Gaurav how are you? Are you fine'

###### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [59]:
lst = "Hello Gaurav! How are you"
string = lst.replace(" ","_")
string

'Hello_Gaurav!_How_are_you'

###### 17. Check if a string starts with a specific word or phrase.

In [60]:
input_string = "Hello, how are you today?"
specific_word = "Hello"

# Check if the string starts with the specific word
if input_string.startswith(specific_word):
    print(f"The string starts with '{specific_word}'.")
else:
    print(f"The string does not start with '{specific_word}'.")

The string starts with 'Hello'.

###### 18. Check if a string ends with a specific word or phrase.

In [65]:
input_string = "Hello, how are you today"
specific_word = "today"

# Check if the string starts with the specific word
if input_string.endswith(specific_word):
    print(f"The string ends with '{specific_word}'.")
else:
    print(f"The string does not end with '{specific_word}'.")

The string ends with 'today'.

###### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [67]:
a = 'hello world'
a.title()

'Hello World'

###### 20. Find the longest word in a string.

In [91]:
input_string = "Hello friends how are you today"
lst = input_string.split()
lst2 = []
for i in lst:
    count = 0
    for j in i:
        count = count + 1 
        
    lst2.append(count)

i = lst2.index(max(lst2))
print('This is the longest word in a string -',lst[i])

This is the longest word in a string - friends

###### Another Method

In [7]:
input_string = "Hello friends how are you today"
lst = input_string.split()
long = 0
for i in lst:
    if len(i) > long:
        long = len(i)
        long_word = i

print('This is the longest word in a string -',long_word)

This is the longest word in a string - friends

###### 21. Find the shortest word in a string.

In [9]:
def find_shortest_words(input_string):
    # Split the input string into words
    words = input_string.split()

    # Initialize a list to store the shortest words
    shortest_words = []

    # Initialize a variable to store the length of the shortest word
    shortest_length = float('inf')

    # Iterate through the words to find the shortest ones
    for word in words:
        word_length = len(word)
        if word_length < shortest_length:
            short_words = word
            shortest_length = word_length
        elif word_length == shortest_length:
            shortest_words.append(short_word)

    return shortest_words

# Example usage:
input_string = 'Hey this is my string'
shortest = find_shortest_words(input_string)
print("Shortest words:", shortest)

Shortest words: ['is']

###### 22. Reverse the order of words in a string.

In [10]:
string = 'Hello Gaurav'
string[::-1]

'varuaG olleH'

###### 23. Check if a string is alphanumeric.

In [102]:
string = input("Enter Your String")
alpha = True
for i in string.split():
    if i.isalnum() == False:
        alpha = False
        break
if alpha:
    print("This is Alphanumeric")
else:
    print("This not is Alphanumeric")

Enter Your Stringhello gaurav
This is Alphanumeric

###### 24. Extract all digits from a string.

In [123]:
string = 'Admission number is 123456'

for i in string:
    if i.isnumeric():
        print(i)

1
2
3
4
5
6

###### 25. Extract all alphabets from a string.

In [130]:
string = 'Admission number is 123456'
lst = []
for i in string:
    if i.isalpha():
        lst.append(i)
''.join(lst)

'Admissionnumberis'

###### 26. Count the number of uppercase letters in a string.

In [133]:
string = 'Hello Gaurav How ARe YOU'
count = 0
for i in string:
    if i.isupper():
        count = count + 1
        
count

8

###### 27. Count the number of lowercase letters in a string.

In [134]:
string = 'Admission number is 123456'
count = 0
for i in string:
    if i.islower():
        count += 1
count

16

###### 28. Swap the case of each character in a string.

In [136]:
string = 'Admission number is 123456'
string.swapcase()

'aDMISSION NUMBER IS 123456'

###### 29. Remove a specific word from a string.

In [140]:
string = 'Admission number is 123456'
string.replace(' number','')

'Admission is 123456'

###### 31. Extract the username from an email address string.

In [148]:
mail = 'gauravnarwal@gmail.com'
i = mail.find('@')
mail[:i]

'gauravnarwal'

###### 32. Extract the domain name from an email address string.

In [157]:
mail = 'gauravnarwal@gmail.com'
start = mail.find('@')
mail[start+1:]

'gmail.com'

###### 33. Replace multiple spaces in a string with a single space.

In [156]:
string = 'Hello     Gaurav    '
lst_string = string.split()
' '.join(lst_string)

'Hello Gaurav'

###### 35. Extract the protocol (http or https) from a URL string.

In [158]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

###### 36. Find the frequency of each character in a string.

In [186]:
string = 'hello world'
dic = {}
for i in string:

    if i not in dic:
        dic[i] = 1
    elif i in dic:
        dic[i] += 1
for i,j in dic.items():
    print(f"Character : '{i}' , Frequency : '{j}'")

Character : 'h' , Frequency : '1'
Character : 'e' , Frequency : '1'
Character : 'l' , Frequency : '3'
Character : 'o' , Frequency : '2'
Character : ' ' , Frequency : '1'
Character : 'w' , Frequency : '1'
Character : 'r' , Frequency : '1'
Character : 'd' , Frequency : '1'

###### 37. Remove all punctuation from a string.

In [191]:
string = 'Hello! World'
lst = []
for i in string:
    if i.isalpha():
        lst.append(i)
''.join(lst)

'HelloWorld'

###### 38. Check if a string contains only digits.

In [210]:
def digit_check(string):
    if string.isnumeric():
        print("This string is contain only digits")
    else:
        print("This string is not contain only digits")
      

string = 'Hello World 1 2'
string2 = '123456'
digit_check(string)
digit_check(string2)

This string is not contain only digits
This string is contain only digits

###### 39. Check if a string contains only alphabets.

In [204]:
def alpha_check(string):
    if string.isalpha():
        print("This string is contain only alphabets")
    else:
        print("This string is not contain only alphabets")
    
    
str1 = 'HelloWorld'
str2 = 'hello123'
alpha_check(str1)
alpha_check(str2)

This string is contain only alphabets
This string is not contain only alphabets

###### 40. Convert a string to a list of characters.

In [219]:
def list_convert(string):
    return list(string)


intro = 'My name is Gaurav Narwal'
print(list_convert(intro))

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'G', 'a', 'u', 'r', 'a', 'v', ' ', 'N', 'a', 'r', 'w', 'a', 'l']

###### 41. Check if two strings are anagrams.

In [225]:
def anagrams(str1,str2):
    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()
    return sorted(str1) == sorted(str2)

str1 = 'Listen'
str2 = 'Silent'
str3 = "Gaurav"
str4 = 'Narwal'

print(f'{str1} and {str2} are anagrams :- ',anagrams(str1,str2))
print(f'{str3} and {str4} are anagrams :- ',anagrams(str3,str4))

Listen and Silent are anagrams :-  True
Gaurav and Narwal are anagrams :-  False

###### 45. Find all unique words in a string.

In [230]:
def unique_word(str):
    lst = []
    for i in str.lower().split():
        if i not in lst:
            lst.append(i)
            
    return lst



string = "Hello world, hello there! How's the world?"
unique_word(string)

['hello', 'world,', 'there!', "how's", 'the', 'world?']

###### 46. Count the number of syllables in a string.

In [22]:
def count_syllables(word):
    vowels = "aeiouy"
    word = word.lower()
    count = 0
    prev_char = None

    for char in word:
        if char in vowels and (prev_char is None or prev_char not in vowels):
            count += 1
        prev_char = char

    if word.endswith("e"):
        count -= 1  # Remove one for silent 'e' at the end

    if count == 0:
        count = 1  # At least one syllable in any word

    return count

# Example usage:
string = "example"
syllable_count = count_syllables(string)
print(f"The number of syllables in '{string}' is: {syllable_count}")

The number of syllables in 'example' is: 2

###### 48. Remove the nth word from a string.

In [25]:
def remove_word(input_string,place):
    lst = input_string.split()
    del lst[place]
    lst = ' '.join(lst)
    return lst



input_string = "This is a sample sentence to demonstrate removing words."
remove_word(input_string,3)

'This is a sentence to demonstrate removing words.'

###### 49. Insert a word at the nth position in a string.

In [45]:
def insert_word(string,word,n):
    lst = string.split()
    lst.insert(n,word)
    return ' '.join(lst)

input_string = "This is a sentence to demonstrate removing words."
insert_word(input_string,'sample',3)

'This is a sample sentence to demonstrate removing words.'

###### 50. Convert a CSV string to a list of lists.

In [55]:
import csv
from io import StringIO

# Sample CSV string
csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago"""

# Initialize a list to store the CSV data as lists
csv_list = []

# Create a StringIO object to simulate a file-like object from the CSV string
csv_file = StringIO(csv_string)

# Use the csv.reader to read the CSV data and append each row to the list
csv_reader = csv.reader(csv_file)
for row in csv_reader:
    csv_list.append(row)

# Close the StringIO object
csv_file.close()

# Print the resulting list of lists
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

## List Based Practice Problem :

###### 1. Create a list with integers from 1 to 10.

In [7]:
l = []
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###### 2. Find the length of a list without using the `len()` function.

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for i in lst:
    count += 1
count

10

###### 3. Append an element to the end of a list.

In [13]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.append(11)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

###### 4. Insert an element at a specific index in a list.

In [18]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.insert(2,20)
lst

[1, 2, 20, 3, 4, 5, 6, 7, 8, 9, 10]

###### 5. Remove an element from a list by its value.

In [20]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.remove(2)
lst

[1, 3, 4, 5, 6, 7, 8, 9, 10]

###### 6. Remove an element from a list by its index.

In [22]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.pop(4)
lst

[1, 2, 3, 4, 6, 7, 8, 9, 10]

###### 7. Check if an element exists in a list.

In [24]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
check = 2
if check in lst:
    print('Yes element exists')
else:
    print('No Exists')

Yes element exists

###### 8. Find the index of the first occurrence of an element in a list.

In [25]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.index(4)

3

###### 9. Count the occurrences of an element in a list.

In [26]:
lst = [1, 2, 3,1, 4, 5, 6, 7,1,2,4,9,1, 8, 9, 10]
lst.count(1)

4

###### 10. Reverse the order of elements in a list.

In [28]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.reverse()
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

###### 11. Sort a list in ascending order.

In [30]:
lst = [1,8,4,6,9,2,4,7]
lst.sort()
lst

[1, 2, 4, 4, 6, 7, 8, 9]

###### 12. Sort a list in descending order.

In [33]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.sort(reverse = True)
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

###### 13. Create a list of even numbers from 1 to 20.

In [34]:
lst = []
for i in range(1,21):
    if i%2 == 0:
        lst.append(i)
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###### 14. Create a list of odd numbers from 1 to 20.

In [35]:
lst = []
for i in range(1,21):
    if i%2 != 0:
        lst.append(i)
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###### 15. Find the sum of all elements in a list.

In [36]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in lst:
    sum += i
sum

55

###### 16. Find the maximum value in a list.

In [40]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max = 0
for i in lst:
    if i > max:
        max = i
max

10

###### 17. Find the minimum value in a list.

In [45]:
lst = [1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10]
min = lst[0]
for i in lst:
    if i < min:
        min = i
min

0

###### 18. Create a list of squares of numbers from 1 to 10.

In [48]:
lst = [1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10]
sqt_lst = []
for i in lst:
    sqt = i * i
    sqt_lst.append(sqt)
sqt_lst

[1, 4, 9, 16, 25, 0, 36, 49, 64, 81, 100]

###### 19. Create a list of random numbers.

In [60]:
import numpy as np
lst = list(np.random.rand(10))
lst

[0.645061723064278,
 0.20576143829769322,
 0.4341524377267335,
 0.21378608553995493,
 0.4646589019568771,
 0.5785336237126524,
 0.697762678708263,
 0.012843224266131492,
 0.921691423144785,
 0.9750600142700488]

###### 20. Remove duplicates from a list.

In [64]:
lst = [1,5,6,7,2,3,4,2,1,6,4,2,4,8,9]
remove_dup = []
for i in lst:
    if i not in remove_dup:
        remove_dup.append(i)
remove_dup.sort()
remove_dup

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###### 21. Find the common elements between two lists.

In [68]:
lst = [1,8,6,5,2,7,5,9,3]
lst1 = [1,2,3,45,50]
common_lst = []
for i in lst1:
    if i in lst:
        common_lst.append(i)
common_lst

[1, 2, 3]

###### 22. Find the difference between two lists.

In [76]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = list(set(list1) - set(list2))

print(difference)

[1, 2]

###### 23. Merge two lists.

In [82]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

###### 24. Multiply all elements in a list by 2.

In [1]:
list1 = [1, 2, 3, 4, 5]
lst = []
for i in list1:
    a = i*2
    lst.append(a)
lst

[2, 4, 6, 8, 10]

###### 25. Filter out all even numbers from a list.

In [86]:
lst = [1,8,6,5,2,7,5,9,3]
even_lst = []
for i in lst:
    if i%2 == 0:
        even_lst.append(i)
even_lst

[8, 6, 2]

###### 26. Convert a list of strings to a list of integers.

In [3]:
string_list = ['1','2','5','6','4']
int_lst = []
for i in string_list:
    a = int(i)
    int_lst.append(a)
int_lst

[1, 2, 5, 6, 4]

###### 27. Convert a list of integers to a list of strings.

In [4]:
int_lst = [1, 2, 5, 6, 4]
str_lst = []
for i in int_lst:
    a = str(i)
    str_lst.append(a)
str_lst

['1', '2', '5', '6', '4']

###### 29. Create a list of the first 10 Fibonacci numbers.

In [16]:
num = 10
a,b = 0,1
for i in range(num):
    print(a)
    a ,b = b , b+a

0
1
1
2
3
5
8
13
21
34

###### 30. Check if a list is sorted.

In [30]:
def list_check(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return 'This is not sorted list'

    return 'This is sorted list'

lst = [1,8,6,5,2,7,5,9,3]
lst1 = [1,2,3,4,5,6]
print(list_check(lst))
print(list_check(lst1))
print(list_check(lst2))

This is not sorted list
This is sorted list
This is not sorted list

###### 31. Rotate a list to the left by `n` positions.